* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold; /* 太字を指定 */
}

li{
    list-style: none;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}

.logo{
    margin: 10px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.menu li a:hover {
    color: red;
}


.menu-right {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu-right li {
    padding-top: 20px;
    text-align: center;
}

.menu-right li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.menu-right li a img {
    display: block;
    margin: 0 auto;
    height: 30px;
}

.li3 {
    background-color: #ff0000;
    width: 100px;
    height: 100px;
}

.li4 {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
}

.li3:hover a, .li3:hover svg  {
    color: rgb(255, 255, 255);
}

.li4:hover a, .li4:hover svg {
    color: rgb(255, 0, 0);
}


/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
	position: relative;
}

/*2階層目以降は横並びにしない*/
nav ul ul{
	display: block;
}

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
	content:'';
	position: absolute;
	left:20px;
	top:25px;
	width:6px;
	height:6px;
	border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul{
    /*絶対配置で位置を指定*/
	position: absolute;
	left:0;
	top:58px;
	z-index: 4;
    text-decoration: none;
    list-style-type: none;
    /*形状を指定*/
	background:#000000;
	width:180px;
    height: 80px;
    border-radius: 5px;
    /*はじめは非表示*/
	visibility: hidden;
	opacity: 0;
    /*アニメーション設定*/
	transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a{
	color: #ffffff;
}

nav li.has-child ul li:last-child > a{
 border-bottom:none;
 }

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active{
	color: #ff0000;
}

@media (max-width: 767px) {
    nav li.has-child ul{
        height: 155px;
    }

    nav ul li.has-child::before{
        left:50px;
        top:30px;
        border-top: 2px solid #ffffff;
        border-right:2px solid #ffffff;
    }
}




footer {
    color: #000000;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

.logo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.footerlogo{
    padding-top: 17px;
}

.footer-nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-bottom {
    background-color: #ff0000;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover,
.footer-nav a:hover {
    text-decoration: underline;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-bottom div {
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav {
        margin-top: 10px;
    }
}